<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>班车往返时间表</title>
</head>
 <link rel="stylesheet" href="/statics/plugins/mui/css/mui.min.css">
 <script type="text/javascript" src="/statics/plugins/mui/js/mui.min.js"></script>
 <script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
 <script type="text/javascript" src="/statics/plugins/vue/vue.min.js"></script>
 <script type="text/javascript" src="/statics/js/qzgz/web/bc.js"></script>
<body>
<ul class="mui-table-view" id="app">
    <li class="mui-table-view-cell mui-collapse" v-for="bus in data1">
        <a class="mui-navigate-right" style="font-size: 20px;font-weight: bold;">{{bus.number}}</a>
        <div class="mui-collapse-content" style="font-size: 16px;">
            <div v-html="bus.line"></div>
        </div>
    </li>
</ul>
</body>
</html>
