<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>班车往返时间表</title>
</head>
 <link rel="stylesheet" href="/plugins/weixin/weui.min.css">
 <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css">
 <script type="text/javascript" src="/js/qzgz/web/rem.js"></script>
 <script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
 <script type="text/javascript" src="/js/qzgz/web/mainjs.js"></script>
 <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
 <script type="text/javascript" src="/js/qzgz/web/bc.js"></script>
<body ontouchstart>
	<!-- 列表 -->
    <div class="tableStyle" id="app">
        <table class="table table-hover" >
          <thead>
            <tr>
              <th>车次</th>
              <th>首班</th>
              <th>末班</th>
              <th>路线</th>
            </tr>
          </thead>
          <tbody class="table-container">
              <tr v-for="bus in data1">
                  <th>{{ bus.number }}</th>
                  <th>{{ bus.start }}</th>
                  <th>{{ bus.end }}</th>
                  <th>{{ bus.line }}</th>
              </tr>
          </tbody>
        </table>
    </div>

</body>
</html>
