<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>差旅费标准</title>
</head>
 <link rel="stylesheet" href="/statics/plugins/weixin/weui.min.css">
 <link rel="stylesheet" type="text/css" href="/statics/css/qzgz/web/tongzhi.css">
 <link rel="stylesheet" type="text/css" href="/statics/plugins/bootstrap/css/bootstrap.min.css">
 <script type="text/javascript" src="/statics/js/qzgz/web/rem.js"></script>
 <script type="text/javascript" src="/statics/plugins/weixin/jweixin-1.2.0.js"></script>
 <script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript"  src="/statics/plugins/weixin/weui.min.js"></script>
<script type="text/javascript"  src="/statics/plugins/pinchzoom/pinchzoom.js"></script>
<script type="text/javascript" src="/statics/js/qzgz/web/mainjs.js"></script>
<script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/js/qzgz/web/cl.js"></script>

<body ontouchstart>
	<!-- 文章 -->
    <article class="weui-article" id="zoom" style="padding-bottom: 10rem">

    </article>

</body>
</html>
