<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>通知详情</title>
    <link rel="stylesheet" href="/plugins/weixin/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/qzgz/web/tongzhi.css">
    <script type="text/javascript" src="/js/qzgz/web/script/rem.js"></script>
    <script src="/plugins/jquery/jquery.js"></script>
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
</head>
<body>
<div id="jy0" v-for="data in dataSource.data">
    <div id="title"><h1>{{data.title}}</h1></div>
    <article class="weui-article">          <!-- 内容部分 -->
        <section id="section1">
            <p>
                {{data.content}}
            </p>
        </section>
    </article>
    <div id="info">
        <span>{{data.creater}}</span></br>
        <span>{{data.created}}</span>
    </div>
</div>

<!-- 底部说明 -->
<!--<div id="footer">-->
    <!--<div class="weui-footer">-->
        <!--<p class="weui-footer__links">-->
            <!--<a href="javascript:void(0);" class="weui-footer__link">底部链接</a>-->
            <!--<a href="javascript:void(0);" class="weui-footer__link">底部链接</a>-->
        <!--</p>-->
        <!--<p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>
