<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>食堂菜单</title>
    <link rel="stylesheet" href="/plugins/weixin/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/qzgz/web/tongzhi.css">
    <script type="text/javascript" src="/js/qzgz/web/rem.js"></script>
    <script type="text/javascript" src="/plugins/weixin/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/qzgz/web/st.js"></script>
</head>
<body ontouchstart>
    <div id="shaixuan">
        <ul>
            <li id="filterPrice" onMouseDown="this.className='change'" onMouseOut="this.className=''">价格</li>
        </ul>
    </div>
	<!-- 列表 -->
	<div id="list" class="weui-cells">

    </div>
	<div id="list1">
        
    </div>
    <!-- 底部说明 -->
    <div id="footer">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 huayou</p>
        </div>
    </div>
</body>
</html>
