<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>食堂菜单</title>
    <link rel="stylesheet" href="/plugins/weixin/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/qzgz/web/tongzhi.css">
    <script type="text/javascript" src="/js/qzgz/web/rem.js"></script>
    <script type="text/javascript" src="/plugins/weixin/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <script type="text/javascript" src="/js/qzgz/web/st.js"></script>
</head>
<style>
    th{
        width: 25%;
    }
    table{
        border-bottom: 0.01rem solid #ddd;
        width: 90%!important;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .td1{
        width: 70%!important;
        padding-left: 20px;
    }
    #filterPrice{
        font-size: 0.8rem!important;
    }
    tr th{
        padding-top: 15px;
        padding-bottom: 5px;
    }

</style>
<body ontouchstart>
    <div id="shaixuan">
        <ul>
            <li id="filterPrice" onMouseDown="this.className='change'" onMouseOut="this.className=''"><b>今日菜单</b></li>
        </ul>
    </div>
	<!-- 列表 -->
    <div id="app" style="text-align: left">
        <table style="width: 100%" class="tb">
            <tr>
                <th colspan="2" style="text-align: center">早餐</th>
            </tr>
            <tbody>
                <tr v-for="canteen in data1">
                    <td  class="td1" v-if="canteen.meal === 1">{{ canteen.name }}</td>
                    <td class="display" style="display: none" v-else></td>
                    <td v-if="canteen.meal === 1">{{canteen.type}}</td>
                    <td style="display: none" v-else></td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%" >
            <tr>
                <th colspan="2" style="text-align: center">午餐</th>
            </tr>
            <tbody>
            <tr v-for="canteen in data1">
                <td class="td1" v-if="canteen.meal === 2">{{ canteen.name }}</td>
                <td class="display" style="display: none" v-else></td>
                <td v-if="canteen.meal === 2">{{canteen.type}}</td>
                <td style="display: none" v-else></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 100%" >
            <tr>
                <th colspan="2" style="text-align: center">晚餐</th>
            </tr>
            <tbody>
            <tr v-for="canteen in data1">
                <td class="td1"  v-if="canteen.meal === 3">{{ canteen.name }}</td>
                <td class="display" style="display: none" v-else></td>
                <td v-if="canteen.meal === 3">{{canteen.type}}</td>
                <td style="display: none" v-else></td>
            </tr>
            </tbody>
        </table>
        <table style="width: 100%" >
            <tr>
                <th colspan="2" style="text-align: center">夜宵</th>
            </tr>
            <tbody>
            <tr v-for="canteen in data1">
                <td class="td1"  v-if="canteen.meal === 4">{{ canteen.name }}</td>
                <td class="display" style="display: none" v-else></td>
                <td v-if="canteen.meal === 4">{{canteen.type}}</td>
                <td style="display: none" v-else></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    $(function () {
        $('.display').parent('tr').css('display','none');
    })

</script>
</html>
