<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>通知公告详情</title>
    <link rel="stylesheet" href="/statics/plugins/weixin/weui.min.css">
</head>
<body style="padding: 10px 0;">
<div id="study">
    <div id="header" style="text-align: center;">
        <h1 style="font-size: 16px;">{{study.title}}</h1>
        <div style="font-size: 12px;color: #726969;">
            <span>{{study.creatername}}</span>
            <span>{{study.modified}}</span>
        </div>
    </div>
    <div class="content">
        <article class="weui-article">          <!-- 内容部分 -->
            <section id="content">

            </section>
        </article>
    </div>
</div>
<script src="/statics/js/common/axios.min.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/js/qzgz/web/tzinfo.js"></script>

</body>
</html>
