<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>学习园地</title>
    <link rel="stylesheet" href="/statics/plugins/weixin/weui.min.css">
    <style>
        #list {
            margin: 0;
            font-size: 14px;
        }

        .time {
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
<body>
<div id="content">
    <!-- 列表 -->
    <div id="list" class="weui-cells">
        <a class="weui-cell weui-cell_access" :href="'xxinfo.html?id='+itme.id" v-for="itme in list">
            <div class="weui-cell__bd">
                <p>{{itme.title}}</p>
                <div class="weui-cell__ft time">{{itme.created}}</div>
            </div>
        </a>
    </div>
    <!-- 加载更多 -->
    <div class="page__bd">
        <div class="weui-loadmore" id="loading" style="display: none">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="weui-loadmore weui-loadmore_line" id="loadmore" style="display: block" @click="getList()">
            <span class="weui-loadmore__tips">点击加载更多</span>
        </div>
    </div>
</div>
<script src="/statics/js/common/axios.min.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/js/qzgz/web/xxyd.js"></script>
</body>
</html>