<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>招聘信息</title>
</head>
<link rel="stylesheet" href="/statics/plugins/weixin/weui.min.css">
<link rel="stylesheet" type="text/css" href="/statics/css/qzgz/web/tongzhi.css">
<script type="text/javascript" src="/statics/js/qzgz/web/rem.js"></script>
<script type="text/javascript" src="/statics/plugins/weixin/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/statics/js/qzgz/web/mainjs.js"></script>
<script type="text/javascript" src="/statics/js/qzgz/web/zp.js"></script>

<body>
    <!-- 列表 -->
    <div id="list" class="weui-cells">

    </div>
    <!-- 加载更多 -->
    <div class="page__bd" >
        <div class="weui-loadmore" id="loading">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="weui-loadmore" id="info">
            <span id="tip" style="float: none">向上滑动加载更多</span>
        </div>
    </div>
</body>
</html>