<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>岗位详情</title>
	<link rel="stylesheet" href="/plugins/weixin/weui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/qzgz/web/tongzhi.css">
	<script type="text/javascript" src="/js/qzgz/web/rem.js"></script>
	<script type="text/javascript" src="/plugins/weixin/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/js/qzgz/web/mainjs.js"></script>
	<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
	<script type="text/javascript" src="/js/qzgz/web/zp0.js"></script>
</head>
<style>
	p{
		font-size: 17px!important;
	}
</style>
<body >
	<div class="weui-panel weui-panel_access">
	    <div class="weui-panel__bd" id="app">
	        <div class="weui-media-box weui-media-box_text">
	            <h4 class="weui-media-box__title">{{ name }}<span class="xinchou">{{ salary }}</span></h4>
	            <p class="weui-media-box__desc">{{ educate }}</p><p class="weui-media-box__desc">人数：{{number}}</p>
	        </div>
	        <div class="weui-media-box weui-media-box_text">
	            <h4 class="weui-media-box__title">工作地点</h4>
	            <p class="weui-media-box__desc">{{ work_place }}</p>
	        </div>
			<div class="weui-media-box weui-media-box_text">
				<h4 class="weui-media-box__title">职位描述</h4>
				<p class="weui-media-box__desc" style="display: flex;" >{{ description }}</p>
			</div>
	    </div>
	</div>
</body>
</html>