<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.ms.NoticeMapper">
    <select id="selectNotice" resultType="com.hy.dto.NoticeInfoDto">
        SELECT id,title,nodifiedPerson,content,creater,created
        FROM qzgz_notice
        WHERE state=#{state}
    </select>
    <insert id="insertNotice" parameterType="com.hy.model.Notice">
        INSERT INTO qzgz_notice(title,content,nodifiedPerson,creater,created)
        VALUES(#{title},#{content},#{nodifiedPerson},#{creater},#{created})
    </insert>
    <delete id="deleteNotice"  parameterType="java.lang.Integer">
        DELETE FROM qzgz_notice
        WHERE id=#{id}
    </delete>
    <update id="updateNotice" parameterType="com.hy.model.Notice">
        UPDATE qzgz_notice
        SET title=#{title},creater=#{creater},content=#{content},nodifiedPerson=#{nodifiedPerson}
        WHERE id=#{id}
    </update>
</mapper>