<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzSuggestionMapper">
    <insert id="insertSuggestion" parameterType="com.hy.model.QzgzSuggestion">
        INSERT INTO qzgz_suggestion(title,contact,department,creater,content)
        VALUES (#{title},#{contact},#{department},#{creater},#{content})
    </insert>
    <select id="getSuggestion" resultType="com.hy.dto.SuggestionDto">
        SELECT id,title,contact,department,content,creater,date_format(created ,'%Y-%m-%d' ) as created,modifier,date_format(modified,'%Y-%m-%d') as modified,state
        FROM qzgz_suggestion
        LIMIT #{pageNum},10
    </select>
    <delete id="deleteSuggestion" parameterType="com.hy.model.QzgzSuggestion">
        DELETE FROM qzgz_suggestion
        WHERE id=#{id}
    </delete>
    <update id="update" parameterType="com.hy.model.QzgzSuggestion">
        UPDATE qzgz_suggestion
        SET title=#{title},contact=#{contact},department=#{department},creater=#{creater},content=#{content}
        WHERE id=#{id}
    </update>
    <select id="totalPageS" resultType="java.lang.Integer">
        SELECT count(*) As totalPage FROM qzgz_suggestion
    </select>
</mapper>
