<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzSuggestionMapper">
    <insert id="insertSuggestion" parameterType="com.hy.model.QzgzSuggestion">
        INSERT INTO qzgz_suggestion(contactInfo,department,creater,content)
        VALUES(#{contactInfo},#{department},#{creater},#{content})
    </insert>
</mapper>