<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzSuggestionMapper">
    <insert id="insertSuggestion" parameterType="com.hy.model.QzgzSuggestion">
        INSERT INTO qzgz_suggestion
        (name,department,contact,suggestion,creater,modifier)
        VALUES
        (#{name},#{department},#{contact},#{suggestion},#{creater},#{modifier})
    </insert>
    <select id="selectSuggestion" resultType="com.hy.model.QzgzSuggestion">
        SELECT * FROM qzgz_suggestion
        WHERE 1=1
        <if test="state != null and '' != state">
            AND state = #{state}
        </if>
        ORDER BY state DESC,created DESC
        LIMIT #{startRow},#{number}
    </select>
    <select id="selectCountOfSuggestion" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM qzgz_suggestion
        WHERE 1=1
        <if test="state != null and '' != state">
            AND state = #{state}
        </if>
    </select>
    <update id="updateStateOfSuggestion" parameterType="com.hy.model.QzgzSuggestion">
        UPDATE qzgz_suggestion SET
        state = #{state},
        modifier = #{modifier}
        WHERE id = #{id}
    </update>
</mapper>
