<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.hy.model.QzgzNotice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="creatername" property="creatername" jdbcType="VARCHAR" />
    <result column="modifiername" property="modifiername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, creater, created, modifier, modified, state, creatername, modifiername
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qzgz_notice
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectNoticesTotal" resultType="java.lang.Integer"  >
    select count(1)
    from qzgz_notice
  </select>
  <select id="selectNotices" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from qzgz_notice
  </select>
  <select id="selectEffectNotices" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from qzgz_notice
    where  state=1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qzgz_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.model.QzgzNotice" >
    insert into qzgz_notice (id, title, content, 
      creater, created, modifier, 
      modified, state, creatername, 
      modifiername)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
      #{modified,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT}, #{creatername,jdbcType=VARCHAR}, 
      #{modifiername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.model.QzgzNotice" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qzgz_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creatername != null" >
        creatername,
      </if>
      <if test="modifiername != null" >
        modifiername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="creatername != null" >
        #{creatername,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null" >
        #{modifiername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.model.QzgzNotice" >
    update qzgz_notice
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="creatername != null" >
        creatername = #{creatername,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null" >
        modifiername = #{modifiername,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.model.QzgzNotice" >
    update qzgz_notice
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT},
      creatername = #{creatername,jdbcType=VARCHAR},
      modifiername = #{modifiername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>