<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzCanteenHistoryMapper">
    <insert id="insertCanteenHistory">
        INSERT qzgz_canteen_history
        (date,canteen_id,meal,creater,modifier)
        VALUES (from_days(to_days(now())+#{plusDay}),#{canteen.canteen_id},#{canteen.meal},#{canteen.creater},#{canteen.modifier})
    </insert>
    <select id="selectCanteenHistory" resultType="com.hy.model.QzgzCanteenHistory">
        SELECT ch.*
        FROM qzgz_canteen_history ch
        LEFT JOIN qzgz_canteen c
        ON c.id=ch.canteen_id
        WHERE to_days(ch.date) = to_days(now())+#{plusDay}
        ORDER BY c.id
    </select>
    <delete id="deleteCanteenHistory">
        DELETE FROM qzgz_canteen_history
        WHERE canteen_id = #{canteen_id}
        AND meal = #{meal}
        AND to_days(date) = to_days(now())+#{plusDay}
    </delete>
    <select id="selectViewOfHistory" resultType="com.hy.model.QzgzCanteenView">
        SELECT id,`name`,type,MAX(zao) AS zao,MAX(zhong) AS zhong,MAX(wan) AS wan,MAX(ye) AS ye FROM
            (SELECT c.id,c.`name`,c.state,c.type,
                 CASE WHEN ch.meal = 1 THEN 1 ELSE 0 END AS zao,
                 CASE WHEN ch.meal = 2 THEN 1 ELSE 0 END AS zhong,
                 CASE WHEN ch.meal = 3 THEN 1 ELSE 0 END AS wan,
                 CASE WHEN ch.meal = 4 THEN 1 ELSE 0 END AS ye
             FROM qzgz_canteen c LEFT JOIN
            (SELECT meal,canteen_id  FROM qzgz_canteen_history WHERE TO_DAYS(date) = TO_DAYS(NOW()) + 1) ch
        ON c.id = ch.canteen_id) AS a
        GROUP BY id,`name`,state,type
    </select>
    <select id="selectCanteenHistoryByDay" resultType="com.hy.model.QzgzCanteenHistoryListItem">
        SELECT c.id,c.`name`,c.type,ch.meal,ch.date
        FROM qzgz_canteen_history ch
            LEFT JOIN qzgz_canteen c ON ch.canteen_id = c.id
        WHERE TO_DAYS(ch.date) = TO_DAYS(NOW()) + #{plusDay}
        ORDER BY ch.meal,c.type
    </select>
</mapper>