<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.QzgzRecruitLinkmanMapper">
    <resultMap id="BaseResultMap" type="com.hy.model.QzgzRecruitLinkman" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, phone, email, creater, created, modifier, modified
    </sql>
    <select id="selectLinkman" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from qzgz_recruit_linkman
        where 1=1
        <if test="filters != null and '' != filters">
            AND filters = filters
        </if>
        <if test="value != null and '' != value">
            and ( name like concat('%',#{value},'%'))
        </if>
        <if test="sort != null and '' != sort">
            ORDER BY CONVERT(${sort} USING gbk) ${dir}
        </if>

    </select>
    <select id="selectLinkmanTotal" resultType="java.lang.Integer">
        select count(1) from qzgz_recruit_linkman
        where 1=1
        <if test="value != null and '' != value">
            AND name LIKE concat('%',#{value},'%')
        </if>
        <if test="filters != null and '' != filters">
            AND filters = filters
        </if>
    </select>
    <select id="selectLinkmanAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from qzgz_recruit_linkman
    </select>
    <insert id="insertLinkman"  parameterType="com.hy.model.QzgzRecruitLinkman">
        insert into qzgz_recruit_linkman (name, phone, email, creater, modifier)
        values (#{name}, #{phone}, #{email}, #{creater}, #{modifier})
    </insert>
    <update id="updateLinkman" parameterType="com.hy.model.QzgzRecruitLinkman">
        update qzgz_recruit_linkman
        set name = #{name}, phone = #{phone}, email = #{email}, modifier = #{modifier}
        where id = #{id}
    </update>
    <delete id="deleteLinkman" parameterType="java.lang.Integer">
        delete from qzgz_recruit_linkman
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>