<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.mapper.ms.SuggestionMapper">

    <select id="selectSuggestion" resultType="com.hy.dto.SuggestionDto">
      SELECT id,title,creater,created
      FROM qzgz_suggestion
      WHERE state=#{state}
    </select>
</mapper>