<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 注意：此处需要下载微信的文字 -->
    <link rel="stylesheet" type="text/css" href="/statics/plugins/weixin/weui-font.css"/>
</head>
<body style="background-color: #FFFFFF;">
    <div id="phoneSuccessData">
        <div style="padding-top:36px;text-align:center;">
            <div style="margin-bottom:30px;">
                <i class="icon-success"></i>
            </div>
            <div style="margin-bottom:30px;">
                <h2 style="margin-bottom:5px;font-weight:400;font-size:20px;">修改成功</h2>
                <p style="font-size:14px;color:#999;">
                    密码已修改！
                    <!--<a class="app_logout" style="color: red;" herf="javascript:;">重新登录</a>！-->
                    <!--<span id="countTime">10秒后自动跳转</span>-->
                </p>
            </div>
        </div>
    </div>

    <script src="/statics/plugins/mui/js/mui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/statics/plugins/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        //计时数据
        var success_time_s=10;
        //初始化vue对象
        var vm = new Vue({
            el:"#phoneSuccessData",
            mounted (){//挂载el
                mui.init();
                /*mui(document.body).on('tap','.app_logout',function(){
                    choseLogut();
                });
                //开始倒计时
                countSecond();*/
            }
        });
        //选择登出方式
        function choseLogut(){
            if("hyms" == parent.parentFlag){
                //调用父页面方法登出
                parent.app_logout();
            }else{//恒拓app登出
                //window.location.href="/m/identity/passwordSuccess.html";
            }
        }
        //倒计时更改短信发送按钮的展示
        function countSecond(){
            success_time_s--;
            mui("#countTime")[0].innerHTML = success_time_s + "秒后自动跳转";
            if(success_time_s==0){
                //登出
                choseLogut();
            }else{
                //等待1秒
                setTimeout("countSecond()", 1000);
            }
        }
    </script>
</body>
</html>