<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加人员与BO账号</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80% ;margin: 10px auto">
    <div id="app">
        <div class="input-group">
            <input class="form-control" placeholder="输入员工号或姓名搜索" style="display:inline-block!important;" id="search-info"/>
            <span class="input-group-addon" style="background: white;">
                  <a style="color: black!important;" href="javascript:;" id="search" class="btn-block">搜索</a>
                </span>
        </div>
        <div class="form-group">
            <label for="search-pan">当前账号</label>
            <div style="min-height:34px;height: auto!important;text-align: left" class="form-control" id="search-pan">
                <input class="form-control" value="search.lastname" style="display:inline-block!important;"/>
            </div>
        </div>
        <div class="form-group">
            <label>选择BO账号</label>
            <div class="form-group" style="margin-bottom: 0">
                <div style="display: inline-block;width: 24%" v-for="acc in account">
                    <input name="BO" :id="acc.accountid" type="checkbox" style="height: 15px;width: 15px"/>
                    <p style="display: inline-block;vertical-align: middle;margin-top: 2px;">{{acc.accountid}}</p>
                </div>
            </div>
        </div>
        <button id="submit"  class="btn btn-success" @click="onSubmit()" style="width:100%;margin-top: 1rem!important;">保&nbsp;&nbsp;&nbsp;存</button>
    </div>
    </body>

    <script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/vue/vue.min.js"></script>
    <script>
        var index = parent.layer.getFrameIndex(window.name);
        $(function () {
            //查询ad域用户
            function dataSearch(search) {
                return FetchData({search:search},'POST','/system/users/getUserFromAd',false).data;
            }
            //查询全部BO账号
            function getAccount() {
                return FetchData({accountid: ''}, 'POST', '/bo/account/getAccount', false).data;
            }
            /*//查询关联数据
            function dataSource(accountid) {
                var resultData = FetchData({accountid:accountid},'POST','/bo/account/getADUsers',false).data;
                if(resultData){
                    return resultData;
                }
                return [];
            }*/
            var vm = new Vue({
                el: '#app',
                data: {
                    search: [],
                    account: getAccount()
                },
                methods:{
                    //搜索
                    onSearch: function (search) {
                        vm.search = dataSearch(search);
                        /*
                        var add_item = {
                            'id':emp.id,
                            'loginid':emp.loginid,
                            'lastname':emp.name
                        };*/
                    },
                    /*//添加
                    onAdd: function (id,loginid,name) {
                        var isExist = false;
                        var add_item = {
                            'id':id,
                            'loginid':loginid,
                            'lastname':name
                        };
                        if(vm.result && vm.result.length >0){
                            for(var j = 0 ; j < vm.result.length ; j++){
                                if(vm.result[j].id === add_item.id){
                                    isExist = true;
                                    break;
                                }
                            }
                        }
                        if(!isExist){
                            add.push(add_item);
                            vm.result.push(add_item)
                        }
                    },
                    //删除
                    onDel: function (id) {
                        var isExist = false;
                        for(var i = 0 ; i < add.length ; i++){
                            if(add[i].id === id){
                                add.splice(i,1);
                                isExist = true;
                            }
                        }
                        if(!isExist){
                            var del_item ={
                                uid: id
                            };
                            del.push(del_item);
                        }
                        //显示
                        for(var j = 0 ; j < vm.result.length ; j++){
                            if(vm.result[j].id === id){
                                vm.result.splice(j,1);
                                break;
                            }
                        }
                    },*/
                    //提交
                    onSubmit:function () {
                        //获取已选中的BO账号
                        var checked = [];
                        var postData = {
                            emp:vm.search,
                            accounts:checked
                        };
                        FetchData(JSON.stringify(postData),'POST','/bo/account/saveEmpAccounts',false,true).code === 0?
                            parent.layer.msg('修改成功'):
                            parent.layer.msg('登陆失效');
                        parent.layer.close(index);
                    }
                }
            });
            //搜索按钮事件
            $('#search').on('click',function () {
                if($('#search-info').val() === ''){

                }else {
                    vm.onSearch($('#search-info').val());
                }
            })

        });
        //ajax
        var FetchData = function (data, method, param, async, contentType) {
            var response =
                $.ajax({
                    async: async,
                    url: param,
                    type: method,
                    dataType: 'json',
                    data:data,
                    contentType:contentType? "application/json;charset=utf-8":
                        "application/x-www-form-urlencoded;charset=UTF-8",
                    success: function (dataSource) {
                        return dataSource;
                    }});
            return response.responseJSON;
        };
    </script>
</html>