<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>报表信息</title>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<style>
    .layui-layer-iframe iframe {
        height: 370px !important;
    }
</style>
<body>
<div id="menus">
    <div id="grid"></div>
</div>

<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/jszip/2.4.0/jszip.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script>
    var vm = new Vue({
        el: "",
        data: {
            dataSource: [],
            activeItem: {id: 0, title: "", content: ""},
            layItem: null
        },
        created: function () {
            this.getDataSource();
            $("#grid").kendoGrid({
                selectable: "row",
                dataSource: this.dataSource,
                editable: {
                    confirmation: true,
                    mode: "popup",
                    window: {
                        title: "新增"
                    }
                },
                columnMenu: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: [{
                    template: '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.add()"><span class="k-icon k-i-add"></span>添加</a>' +
                    '<input type="text" class="k-input" id="search-input"/>' +
                    '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.search()"><span class="k-icon k-i-search"></span>搜索</a>'
                }],
                columns: [
                    {field: "reportid", title: "报表ID", headerAttributes: {"class": "grid-algin-center"}, width: '200px'},
                    {field: "name", title: "报表名称", headerAttributes: {"class": "grid-algin-center"}, width: '240px'},
                    {field: "type", title: "类型", headerAttributes: {"class": "grid-algin-center"}, width: '240px'},
                    {
                        command: [{
                            name: "showitem", text: "编辑", iconClass: "k-icon k-i-edit",
                            click: function (e) {
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                pushData = {
                                    id: data.id,
                                    name: data.name,
                                    reportid: data.reportid,
                                    type: data.type
                                };
                                vm.edit();
                            }
                        }, {name: "destroy", text: "删除", iconClass: "k-icon k-i-delete"}],
                        title: "操作", width: "240px"
                    },{field: "", title: ""}
                ]
            });
        },
        methods: {
            getDataSource: function () {
                this.dataSource = new kendo.data.DataSource({
                    transport: {
                        read: function (options) {
                            $.ajax({
                                url: "/bo/getReportInfo",
                                data: {
                                    'sort': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].field,
                                    'dir': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].dir,
                                    'page': options.data.page,
                                    'pageSize': options.data.pageSize,
                                    'value': $('#search-input').val()
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        options.success({data: result.data.data, total: result.data.total});
                                    }
                                    else
                                        options.error(result);
                                }
                            });
                        },
                        destroy: function (options) {
                            $.ajax({
                                url: "/bo/delReportInfo",
                                data: {
                                    'id': options.data.id
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        options.success(result);
                                        layer.msg('删除成功！', {time: 1000, icon: 1});
                                    }
                                    else
                                        options.error(result);
                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        }
                    },
                    schema: {
                        data: "data",
                        total: "total",
                        model: {
                            id: "id",
                            fields: {
                                id: {editable: false, nullable: true},
                                name: {type: "string", nullable: false},
                                reportid: {type: "string", nullable: false},
                                type: {type: "string", nullable: false}
                            }
                        }
                    },
                    error: function (e) {
                        this.cancelChanges();
                        console.log(e);
                        if (e.errors) {
                            layer.alert(e.errors.msg, {icon: 2});
                        }
                        else if (e.xhr.msg) {
                            layer.alert(e.xhr.msg, {icon: 2});
                        }
                        else {
                            layer.alert("发生错误，请联系管理员", {icon: 2});
                        }
                    },
                    requestEnd: function (e) {
                        var response = e.response;
                        if (response) {
                            response.type = e.type;
                        }
                    },
                    pageSize: 15,
                    serverPaging: true,
                    // serverFiltering: true,
                    serverSorting: true
                });
            },
            add: function () {
                layer.close(vm.layItem);
                pushData = {
                    id: 0
                };
                this.layItem = layer.open({
                    title: '添加报表',
                    type: 2,
                    area: ['450px', '55%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/bo/report_info_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            },
            edit:function () {
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '编辑报表',
                    type: 2,
                    area: ['450px', '55%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/bo/report_info_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            },
            search:function () {
                $("#grid").data("kendoGrid").dataSource.read()
            }
        }
    })
</script>
</body>
</html>