<!DOCTYPE html>
<html>
<head>
    <title>BO账号</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/statics/plugins/layer/theme/default/layer.css">
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
    <style>
        .input-group{
            margin: 38px auto;
            width: 80%;
        }
        .input-group button:hover,.input-group button:focus,.input-group button:active{
            background: white!important;
        }
        a:hover{
            text-decoration:none;
        }
        #btn-submit{
            margin-left: 215px;
        }
    </style>
</head>
<body>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" id="btn-id">
                <span class="glyphicon glyphicon-pencil">
                </span>
            </button>
        </div>
        <input type="text" class="form-control" id="boaccountid">
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" id="btn-type">
                <span class="glyphicon glyphicon-pencil">
                </span>
            </button>
        </div>
        <input type="text" class="form-control" id="botype">
    </div>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" id="btn-password">
                <span class="glyphicon glyphicon-pencil">
                </span>
            </button>
        </div>
        <input type="text" class="form-control" id="bopassword">
    </div>
    <a class="layui-btn" id="btn-submit">确定</a>
    <a class="layui-btn layui-btn-primary" id="btn-cancel">取消</a>

    <script src="/statics/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
        //父页面操作对象
        var index = parent.layer.getFrameIndex(window.name);
        //获得焦点
        $('#btn-id').on('click',function () {
            $('#accountid').focus();
        });
        $('#btn-type').on('click',function () {
            $('#type').focus();
        });
        $('#btn-password').on('click',function () {
            $('#password').focus();
        });
        //编辑页面赋值
        if(!(parent.pushData.id === -1)){
            $('#boaccountid').val(parent.pushData.accountid);
            $('#botype').val(parent.pushData.type);
            $('#bopassword').val(parent.pushData.password);
        }
        //提交
        $('#btn-submit').on('click',function () {
            var data = {};
            var msg = "";
            if(parent.pushData.id === -1){
                data.id = "";
                msg = "添加";
            }else {
                data.id = parent.pushData.id;
                msg = "修改";
            }
            data.accountid = $('#boaccountid').val();
            data.type = $('#botype').val();
            data.password = $('#bopassword').val();
            $.ajax({
                async: false,
                url: '/bo/account/updateAccount',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    if(result.code === 0){
                        parent.layer.msg(msg + "成功");
                        parent.layer.close(index);
                    }else{
                        parent.layer.msg(msg + "失败");
                    }
                },
                error:function () {
                    parent.layer.msg(msg + "失败");
                }
            });

        });
        $('#btn-cancel').on('click',function () {
            parent.layer.close(index);
        });
    </script>
</body>
</html>