<!DOCTYPE html>
<html lang="zh">
<head>
    <title>用户授权</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
</head>
<body>
<div id="treeview">
</div>

<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script>
    var ListData;
    var accountid = parent.pushData.accountid;
    var empnum = parent.pushData.empnum;
    var parentNodes = [];
    var index = parent.layer.getFrameIndex(window.name);

    function dataSourceList(accountid, empnum) {
        var dataSource = FetchData({
            accountid: accountid,
            empnum: empnum
        }, 'POST', '/account/getAccReportTree', false).data;
        console.log(dataSource);
        for (var n = 0; n < dataSource.length; n++) {
            if (dataSource[n].items.length === 0) {
                delete dataSource[n].items;
            }
        }
        return dataSource;
    }

    $(function () {
        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id);
                    if (nodes[i].parentNode() === undefined) {

                    } else {
                        if ($.inArray(nodes[i].parentNode().id, parentNodes) === -1) {
                            parentNodes.push(nodes[i].parentNode().id)
                        }
                    }
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }
        }

        function onCheck() {
            var checkedNodes = [], treeView = $("#treeview").data("kendoTreeView");
            parentNodes = [];

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);
            var postData = [];
            var resultNodes = [].concat(checkedNodes);
            for (var i = 0; i < parentNodes.length; i++) {
                if ($.inArray(parentNodes[i], resultNodes) === -1) {
                    resultNodes.push(parentNodes[i]);
                }
            }
            for (var j = 0; j < resultNodes.length; j++) {
                var obj0 = {
                    id: resultNodes[j],
                    accountid: accountid,
                    empnum: empnum
                };
                postData.push(obj0)
            }
            if (FetchData(JSON.stringify(postData), 'POST', '/account/setAllReportTree', false, true).code !== 0) {
                parent.layer.msg('登陆失效，请重新登陆！', {
                    time: 1000,
                    end: function () {
                        parent.layer.close(index);
                    }
                });
            }
        }

        ListData = new kendo.data.HierarchicalDataSource({
            data: dataSourceList(accountid, empnum)
        });

        $("#treeview").kendoTreeView({
            checkboxes: {
                checkChildren: true
            },
            dataSource: ListData,
            dataTextField: "name",
            check: onCheck
        });
    });
    var FetchData = function (data, method, param, async, contentType) {
        var response =
            $.ajax({
                async: async,
                url: "/bo" + param,
                type: method,
                dataType: 'json',
                data: data,
                contentType: contentType ? "application/json;charset=utf-8" :
                    "application/x-www-form-urlencoded;charset=UTF-8",
                success: function (dataSource) {
                    return dataSource;
                }
            });
        return response.responseJSON;
    };
</script>
</body>
</html>