<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AD域账号</title>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<body>
    <div id="grid"></div>

    <script src="/statics/plugins/jquery/jquery.min.js"></script>
    <script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
    <script src="/statics/plugins/vue/vue.min.js"></script>
    <script src="/statics/plugins/layer/layer.js"></script>
    <script>
        var accountid;
        var vm = new Vue({
            el: "",
            data:{
                dataSource: [],
                activeItem: {id: 0, title: "", content: ""},
            },
            created:function () {
                accountid = parent.accountid;
                this.getDataSource();
                $("#grid").kendoGrid({
                    selectable:"row",
                    dataSource: this.dataSource,
                    editable: {
                        confirmation: true,
                        mode: "popup",
                        window: {
                            title: "新增"
                        }
                    },
                    // filterable: true,
                    columnMenu: true,
                    sortable: true,
                    toolbar: [{
                        template: '<a role="button" class="k-button k-button-icontext"  href="javascript:;" onclick="vm.edit()"><span class="k-icon k-i-edit"></span>编辑</a>'
                    }],
                    columns: [
                        {field: "id", title: "员工号", headerAttributes: {"class": "grid-algin-center"}, width: "150px"},
                        {field: "lastname", title: "姓名", headerAttributes: {"class": "grid-algin-center"}, width: "150px"},
                        {
                            command: [{name: "permission", text: "授权", iconClass: "k-icon k-i-edit",
                                click: function (e) {
                                    e.preventDefault();
                                    var tr = $(e.target).closest("tr");
                                    var data = this.dataItem(tr);
                                    pushData = {
                                        accountid: accountid,
                                        empnum: data.id
                                    };
                                    vm.accredit();
                                }}], title: " ", width: "150px"
                        },{field: "", title: ""}
                    ]
                });
            },
            methods:{
                getDataSource: function () {
                    this.dataSource = new kendo.data.DataSource({
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    url: "/bo/account/getADUsers",
                                    data: {
                                        'accountid': accountid
                                    },
                                    method:'POST',
                                    success: function (result) {
                                        if (result.code === 0){
                                            options.success({data: result.data});
                                        }
                                        else
                                            options.error(result.msg);
                                    },
                                    error: function () {
                                        options.error("数据查询失败");
                                    }
                                });
                            }
                        },
                        schema: {
                            data: "data",
                            model: {
                                id: "id",
                                fields: {
                                    id: {type: "string", nullable: false},
                                    lastname: {type: "string", nullable: false}
                                }
                            }
                        },
                        error: function (e) {
                            this.cancelChanges();
                            console.log(e);
                            if (e.errors) {
                                layer.alert(e.errors.msg, {icon: 2});
                            }
                            else if (e.xhr.msg) {
                                layer.alert(e.xhr.msg, {icon: 2});
                            }
                            else {
                                layer.alert("发生错误，请联系管理员", {icon: 2});
                            }
                        },
                        requestEnd: function (e) {
                            var response = e.response;
                            if (response) {
                                response.type = e.type;
                            }
                        },
                        serverSorting: true
                    });
                },
                edit:function () {
                    layer.open({
                        title:'编辑人员',
                        type: 2,
                        area: ['700px', '80%'],
                        fixed: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        content: '/bo/report_addaduser.html',
                        end: function () {
                            location.reload()
                        }
                    });
                },
                accredit:function () {
                    layer.open({
                        title:'授权',
                        type:2,
                        area:['70%','90%'],
                        fixed: true,//固定
                        maxmin:true,
                        shadeClose: true,
                        content: '/bo/report_aduser_permission.html',
                        end: function () {
                        }
                    })
                }
            }
        });
    </script>
</body>
</html>