#search-input
{
    display: inline-block;
    width: 300px;
    margin-left: auto;
}
#date
{
    display: inline-block;
    width: 160px;
    background: transparent;
    position: absolute;
    margin-top: -59px;
    margin-left: 515px;
}
#date-t{
    position: absolute;
    margin-top: -52px;
    margin-left: 445px;
}
#search-btn
{
    display: inline-block;
    margin-right: 1.5px;
}
body
{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
}
#target{
    margin-left: 50px;
    width: 300px;
    display: inline-block;
    margin-right: auto;
}
.btn-showStateAll,.btn-showState1{
    position: absolute;
    margin-top: -34.5px;
    margin-left: 108px;
}