<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>合理化建议-输入</title>
</head>
 <link rel="stylesheet" href="./css/weui.min.css">
 <link rel="stylesheet" type="text/css" href="./css/tongzhi.css">
 <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
 <script type="text/javascript" src="./script/rem.js"></script>
 <script type="text/javascript" src="./script/jweixin-1.2.0.js"></script>
 <script type="text/javascript" src="./script/jquery.js"></script>
 <script type="text/javascript" src="./script/mainjs.js"></script>
 <script type="text/javascript" src="./script/bootstrap.min.js"></script>

<body ontouchstart>
	<!-- 列表 -->
    <div class="tableStyle">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstname" placeholder="请输入姓名">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">部门车间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastname" placeholder="请输入部门车间">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">联系方式</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastname" placeholder="请输入联系方式">
        </div>
      </div>
      <div class="form-group">
          <label for="name" class="col-sm-2 control-label">合理化建议</label>
          <div class="col-sm-10">
            <textarea class="form-control textStyle" rows="3"></textarea>
          </div>
      </div>
      <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </form>
    </div>
    <!-- 底部说明 -->
    <div id="footer">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
        </div>
    </div>
</body>
</html>
