<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批量导入客户信息</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="/css/qzgz/admin/cl_add.css" rel="stylesheet">
</head>
<body>
<input id="input-b1" name="file" type="file" class="file">
<input type="hidden" id="excel" value="">

<a class="btn btn-success" id="submit">提&nbsp;&nbsp;&nbsp;交</a>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-md5/jquery.md5.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/crm/khxx_batch.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-fileinput/js/zh.js"></script>
</body>

</html>