<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>更新客户信息</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80% ;margin: 10px auto">
<form>
    <div class="form-group">
        <label for="name">姓名</label>
        <input class="form-control" id="name" placeholder="输入客户姓名">
    </div>
    <div class="form-group">
        <label for="post">职位</label>
        <input class="form-control" id="post" placeholder="输入客户职位">
    </div>
    <div class="form-group">
        <label for="nationality">国籍</label>
        <input class="form-control" id="nationality" placeholder="输入客户国籍">
    </div>
    <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" id="address" placeholder="输入客户所在地址">

    </div>
    <div class="form-group">
        <label for="sex">性别</label>
        <select class="form-control" id="sex">
            <option value="true">男</option>
            <option value="false">女</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mobile">手机</label>
        <input class="form-control" id="mobile" placeholder="输入客户手机号">
    </div>
    <div class="form-group">
        <label for="phone">固话</label>
        <input class="form-control" id="phone" placeholder="输入固话">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input class="form-control" id="email" placeholder="输入客户邮箱">
    </div>
    <div class="form-group">
        <label for="btid">业务类型</label>
        <select class="form-control" id="btid">
        </select>
    </div>
    <div class="form-group">
        <label for="fid">企业单位</label>
        <select class="form-control" id="fid">
        </select>
    </div>
    <div class="form-group">
        <label for="vip">贵宾</label>
        <select class="form-control" id="vip">
            <option value="false">否</option>
            <option value="true">是</option>
        </select>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <textarea class="form-control" id="remark"  style="resize:none" placeholder="输入备注信息"></textarea>
    </div>
    <button id="submit"  class="btn btn-success" style="width:100%">提&nbsp;&nbsp;&nbsp;交</button>
</form>
</body>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/crm/khxx_update.js"></script>
</html>