<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>更新企业信息</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80% ;margin: 10px auto">
<form>
    <div class="form-group">
        <label for="name">企业名称</label>
        <input class="form-control" id="name" placeholder="输入企业名称">
    </div>
    <div class="form-group">
        <label for="phone">企业固话</label>
        <input class="form-control" id="phone" placeholder="输入企业固话">
    </div>
    <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" id="address" placeholder="输入地址">
    </div>
    <div class="form-group">
        <label for="contacter">联系人</label>
        <input class="form-control" id="contacter" placeholder="输入联系人">

    </div>
    <div class="form-group">
        <label for="cmobile">手机</label>
        <input class="form-control" id="cmobile" placeholder="输入手机号">
    </div>
    <div class="form-group">
        <label for="cphone">固话</label>
        <input class="form-control" id="cphone" placeholder="输入固话">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input class="form-control" id="email" placeholder="输入邮箱">
    </div>
    <div class="form-group">
        <label for="btid">所属部门</label>
        <select class="form-control" id="btid">
        </select>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <textarea class="form-control" id="remark"  style="resize:none" placeholder="输入备注信息"></textarea>
    </div>
    <button id="submit"  class="btn btn-success" style="width:100%">提&nbsp;&nbsp;&nbsp;交</button>
</form>
</body>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/crm/qyxx_update.js"></script>
</html>