<!DOCTYPE html>
<html lang="zh">
<head>
    <title>业务类型</title>
    <meta charset="UTF-8"/>
    <!--<meta content="width=device-width, initial-scale=1" name="viewport"/>-->
    <link rel="stylesheet" href="/statics/plugins/layer/theme/default/layer.css">
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
    <style>
        .input-group{
            margin: 38px auto;
            width: 80%;
        }
        .input-group button:hover,.input-group button:focus,.input-group button:active{
            background: white!important;
        }
        a:hover{
            text-decoration:none;
        }
        #btn-submit{
            margin-left: 215px;
        }
    </style>
</head>
<body>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default" id="btn-w">
                <span class="glyphicon glyphicon-pencil">
                </span>
            </button>
        </div>
        <input type="text" class="form-control" id="name">
    </div>
    <a class="layui-btn" id="btn-submit">确定</a>
    <a class="layui-btn layui-btn-primary" id="btn-cancel">取消</a>
    <script src="/statics/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var index = parent.layer.getFrameIndex(window.name);
        $('#btn-w').on('click',function () {
            $('#name').focus();
        });
        if(parent.pushData.id === -1){

        }
        else {
            $('#name').val(parent.pushData.name);
        }
        $('#btn-submit').on('click',function () {
            if(parent.pushData.id === -1){
                FetchData({
                    name:$('#name').val()
                },'POST','/business/add',false).code === 0 ?
                    parent.layer.msg('添加成功'):
                    parent.layer.msg('添加失败');
                parent.layer.close(index);
            }
            else {
                FetchData({
                    id:parent.pushData.id,
                    name:$('#name').val()
                },'POST','/business/set',false).code === 0 ?
                    parent.layer.msg('修改成功'):
                    parent.layer.msg('修改失败');
                parent.layer.close(index);
            }
        });
        $('#btn-cancel').on('click',function () {
            parent.layer.close(index);
        });
        var FetchData = function (data, method, param, async) {
            var response =
                $.ajax({
                    async: async,
                    url: "/crm"+param,
                    type: method,
                    dataType: 'json',
                    data: data,
                    success: function (dataSource) {
                        return dataSource;
                    }});
            return response.responseJSON;
        };
    </script>
</body>
</html>