<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>业务类型</title>
    <link rel="stylesheet" href="/plugins/kendo2018.2.620/styles/kendo.material.min.css">
    <link rel="stylesheet" href="/plugins/kendo2018.2.620/styles/kendo.common-material.min.css">
    <link href="/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<body>
    <div id="menus">
        <div id="grid"></div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/kendo/js/kendo.all.min.js"></script>
    <script src="/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
    <script src="/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
    <script src="/plugins/vue/vue.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <!--<script src="/js/common/jquery.expand.js"></script>-->
    <script src="/js/crm/ywlx_user.js"></script>
</body>
</html>