<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>更新报表信息</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80%; margin: 10px auto">
<form>
    <div class="form-group">
        <label for="reportid">报表ID</label>
        <input class="form-control input-sm-8" id="reportid" placeholder="输入报表ID">
        <input class="form-control input-sm-8" id="directoryid" type="hidden">
    </div>
    <div class="form-group">
        <label for="name">报表名称</label>
        <input class="form-control input-sm-8" id="name" placeholder="输入报表名称">
    </div>
    <div class="form-group">
        <label for="type">类型</label>
        <input class="form-control input-sm-8" id="type" placeholder="输入类型">
    </div>
    <div class="form-group">
        <label for="url">url</label>
        <input class="form-control input-sm-8" id="url" placeholder="输入链接">
    </div>
    <div class="form-group">
        <label for="type">描述</label>
        <textarea class="form-control input-sm-8" id="description" placeholder="输入描述信息"></textarea>
    </div>
    <a id="submit" href="javascript:;" class="btn btn-success btn-sm-12 center-block" style="margin-top: 36px">提&nbsp;&nbsp;&nbsp;交</a>
</form>
</body>
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script>
    var data, postData;
    var index = parent.layer.getFrameIndex(window.name);
    $(function () {
        data = parent.pushData;
        $('#directoryid').val(parent.directoryid);
        if (data.id === 0) {

        } else {
            $('#name').val(data.name);
            $('#reportid').val(data.reportid);
            $('#type').val(data.type);
            $('#url').val(data.url);
            $('#description').val(data.description);
            //修改的报表id不给修改
            $('#reportid').attr("disabled","disabled");
        }
        $('#submit').on('click', function () {
            if($('#reportid').val() == ''){
                layer.msg('报表ID必填');
                return;
            }
            if($('#name').val() == ''){
                layer.msg('报表名称必填');
                return;
            }
            if($('#type').val() == ''){
                layer.msg('报表类型必填');
                return;
            }
            if($('#url').val() == ''){
                layer.msg('url必填');
                return;
            }
            //检查报表id是否已存在，若已存在则不给重复添加
            if (data.id === 0) {
                var check = FetchData({reportid:$('#reportid').val()}, 'POST', '/account/getReportInfoCountByReportid', false);
                if(check.code ==0){
                    if(check.data > 0){
                        layer.msg("已存在报表id，不能重复添加");
                        return;
                    }
                }else{
                    return;
                }
            }
            postData = {
                id: data.id,
                name: $('#name').val(),
                reportid: $('#reportid').val(),
                directoryid: $('#directoryid').val(),
                type: $('#type').val(),
                description:$('#description').val(),
                url:$('#url').val()
            };
            if (data.id === 0) {
                var postback = FetchData(postData, 'POST', '/addReportInfo', false);
                if (postback.code === 0) {
                    postData.id = postback.data;
                    parent.vm.dataSource.add(postData);
                    parent.layer.msg('添加成功');
                } else {
                    parent.layer.msg('添加失败');
                }
                parent.layer.close(index);
            } else {
                if (FetchData(postData, 'POST', '/setReportInfo', false).code === 0) {
                    parent.vm.dataSource.pushUpdate(postData);
                    parent.layer.msg('修改成功');
                } else {
                    parent.layer.close('修改失败');
                }
                parent.layer.close(index)
            }
        })
    });
    var FetchData = function (data, method, param, async) {
        var response = $.ajax({
            async: async,
            url: "/bo" + param,
            type: method,
            dataType: 'json',
            data: data,
            success: function (dataSource) {
                return dataSource
            }
        });
        return response.responseJSON;
    };
</script>
</html>