<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新酒店信息</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 380px ; margin: 10px auto">
<form>
    <div class="form-group">
        <label for="name">酒店名称</label>
        <input class="form-control input-sm-8"  id="name" placeholder="输入酒店名称">
    </div>
    <div class="form-group">
        <label for="phone">酒店固话</label>
        <input class="form-control input-sm-8" id="phone" placeholder="输入酒店固话">
    </div>
    <div class="form-group">
        <label for="address">酒店地址</label>
        <input class="form-control input-sm-8" id="address" placeholder="输入酒店地址">
    </div>
    <div class="form-group">
        <label for="contacter">业务员</label>
        <input class="form-control input-sm-8" id="contacter" placeholder="输入业务员">
    </div>
    <div class="form-group">
        <label for="cphone">手机</label>
        <input class="form-control input-sm-8" id="cphone" placeholder="输入手机">
    </div>
    <div class="form-group">
        <label for="cmobile">固话</label>
        <input class="form-control input-sm-8" id="cmobile" placeholder="输入固话">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input class="form-control input-sm-8" id="email" placeholder="输入邮箱">
    </div>
    <div class="form-group">
        <label for="star">星级</label>
        <select name="star" class="form-control input-sm-8" id="star">
            <option value="" selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <input class="form-control input-sm-8" id="remark" placeholder="输入备注">
    </div>
    <a id="submit" href="javascript:;" class="btn btn-success btn-sm-12 center-block">提&nbsp;&nbsp;&nbsp;交</a>
</form>
</body>
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/statics/js/baseinfo/jdgl_update.js"></script>
</html>