<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计划员物资信息页</title>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
    <style>
        .k-state-type{
            margin-left: 5px;
        }
        .k-state-search{
            margin-left: 2px;
            border: 0.5px solid #d5d5d5;
            height: 24px;
        }
    </style>
</head>
<body>
<div id="grid"></div>
<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script src="/statics/plugins/kendo/js/kendo.addfilter.js"></script>
<script>
    var pushData;
    var employee = [];
    var applytypes = [];
    var pushId;
    var vm = new Vue({
        el: "",
        data: {
            dataSource: [],
            activeItem: {id: 0, title: "", content: ""},
            layItem: null
        },
        created: function () {
            this.getDataSource();
            //取全部业务员数据
            this.getEmployee();
            //取出申请类别参数
            this.getApplyType();
            var kgrid = $("#grid").kendoGrid({
                selectable: "row",
                dataSource: this.dataSource,
                editable: {
                    confirmation: true,
                    mode: "popup",
                    window: {
                        title: "新增"
                    }
                },
                height: 630,
                filterable: true,
                columnMenu: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: [{
                    template: '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.add()"><span class="k-icon k-i-add"></span>添加</a>' +
                        '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.copyMaterial()"><span class="k-icon k-i-copy"></span>复制</a>' +
                        '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.importExcel()"><span class="k-icon k-i-excel"></span>批量导入</a>' +
                        '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.exportExcel()"><span class="k-icon k-i-excel"></span>导出Excel</a>' +
                        '<span class="k-state-type">状态</span><select class="k-state-search" id="stateselect" ><option value="1" selected>未完成</option><option value="2">已完成</option><option value="">全部</option></select>' +
                    '<input type="text" class="k-input" id="search-input"/><a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.search()"><span class="k-icon k-i-search"></span>搜索</a>'+
                        '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.applyTypeSer()"><span class="k-icon k-i-settings"></span>申请类别维护</a>'
                }],
                columns: [
                    {field: "applytype", title: "类别", headerAttributes: {"class": "grid-algin-center"}, width: '50px'},
                    {field: "companyname", title: "公司", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "mattype", title: "物资类别", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "batch", title: "追溯号(批次)", headerAttributes: {"class": "grid-algin-center"}, width: '140px'},
                    {field: "materialname", title: "名称", headerAttributes: {"class": "grid-algin-center"}, width: '100px'},
                    {field: "materialdes", title: "文本", headerAttributes: {"class": "grid-algin-center"}, width: '160px'},
                    {field: "amount", title: "数量", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "unarramount", title: "未到数量", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "arramount", title: "已到数量", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "unit", title: "单位", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {field: "empname", title: "业务员", headerAttributes: {"class": "grid-algin-center"}, width: '100px'},
                    {field: "applydept", title: "申请部门", headerAttributes: {"class": "grid-algin-center"}, width: '110px'},
                    {field: "applyperson", title: "申请人", headerAttributes: {"class": "grid-algin-center"}, width: '100px'},
                    {field: "dispatchdate", title: "物资分派日期", headerAttributes: {"class": "grid-algin-center"}, width: '120px'},
                    {field: "requireddate", title: "要求到货日期", headerAttributes: {"class": "grid-algin-center"}, width: '120px'},
                    {field: "overseasdate", title: "海外到货日期", headerAttributes: {"class": "grid-algin-center"}, width: '120px'},
                    {field: "state", title: "状态", headerAttributes: {"class": "grid-algin-center"}, width: '90px'},
                    {
                        command: [{
                            name: "edititem", text: "编辑", iconClass: "k-icon k-i-edit",
                            click: function (e) {
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                pushData = {
                                    id: data.id,
                                    applytype: data.applytype,
                                    companyname: data.companyname,
                                    mattype: data.mattype,
                                    batch: data.batch,
                                    materialname: data.materialname,
                                    materialdes: data.materialdes,
                                    amount: data.amount,
                                    unit: data.unit,
                                    empnum:data.empnum,
                                    applydept: data.applydept,
                                    applyperson: data.applyperson,
                                    dispatchdate: data.dispatchdate,
                                    requireddate: data.requireddate,
                                    overseasdate: data.overseasdate
                                };
                                vm.edit();
                            }
                        }, {name: "destroy", text: "删除", iconClass: "k-icon k-i-delete"}],
                        title: "操作", width: "200px"
                    },{field: "", title: ""}
                ]
            });
            kgrid.on('dblclick', '.k-grid-content tr', function () {
                // 双击
                var row = kgrid.data("kendoGrid").select();
                var data = kgrid.data("kendoGrid").dataItem(row);
                pushId = data.id;
                this.layItem = layer.open({
                    title: '查看跟单信息',
                    type: 2,
                    area: ['900px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/purchase/schedule_planner.html',
                    shadeClose: true
                });
                layer.full(this.layItem);
            });
        },
        methods: {
            getDataSource: function () {
                this.dataSource = new kendo.data.DataSource({
                    transport: {
                        read: function (options) {
                            //取kendoGrid的当前过滤条件
                            var allMap;
                            var grid = $("#grid").data("kendoGrid");
                            if(grid){
                                allMap = getFilters(grid);
                            }
                            $.ajax({
                                url: "/purchase/planner/getMaterialInfoPage",
                                data: {
                                    'filters': allMap === undefined ? "" : JSON.stringify(allMap),
                                    'sort': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].field,
                                    'dir': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].dir,
                                    'page': options.data.page,
                                    'pageSize': options.data.pageSize,
                                    'value': $('#search-input').val(),
                                    'state':$("#stateselect").val()
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        options.success({data: result.data.data, total: result.data.total});
                                    }else{
                                        options.error(result);
                                    }
                                }
                            });
                        },
                        destroy: function (options) {
                            $.ajax({
                                url: "/purchase/planner/deleteMaterialInfo",
                                data: {
                                    'id': options.data.id
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        options.success(result);
                                        layer.msg('删除成功！', {time: 1000, icon: 1});
                                    }else{
                                        options.error(result);
                                    }
                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        }
                    },
                    schema: {
                        data: "data",
                        total: "total",
                        model: {
                            id: "id",
                            fields: {
                                id: {editable: false, nullable: true},
                                applytype: {type: "string", nullable: false},
                                companyname: {type: "string", nullable: false},
                                mattype: {type: "string", nullable: false},
                                batch: {type: "string", nullable: false},
                                materialname: {type: "string", nullable: false},
                                materialdes:{type: "string", nullable: false},
                                amount:{type: "number", nullable: false},
                                unarramount:{type: "number", nullable: false},
                                arramount:{type: "number", nullable: false},
                                unit:{type: "string", nullable: false},
                                empname: {type: "string", nullable: false},
                                applydept: {type: "string", nullable: false},
                                applyperson: {type: "string", nullable: false},
                                dispatchdate:{type: "string", nullable: false},
                                requireddate:{type: "string", nullable: false},
                                overseasdate:{type: "string", nullable: false},
                                state: {type: "string", nullable: false}
                            }
                        }
                    },
                    error: function (e) {
                        this.cancelChanges();
                        console.log(e);
                        if (e.errors) {
                            layer.alert(e.errors.msg, {icon: 2});
                        }
                        else if (e.xhr.msg) {
                            layer.alert(e.xhr.msg, {icon: 2});
                        }
                        else {
                            layer.alert("发生错误，请联系管理员", {icon: 2});
                        }
                    },
                    requestEnd: function (e) {
                        var response = e.response;
                        if (response) {
                            response.type = e.type;
                        }
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                });
            },
            getEmployee: function(){
                //从后台加载当前所拥有的全部业务员
                $.ajax({
                    url: "/purchase/salesman/getSalesman",
                    method: 'POST',
                    success: function (result) {
                        if (result.code === 0) {
                            employee = result.data;
                        }else{
                            options.error(result);
                        }
                    }
                });
            },
            getApplyType: function(){
                //从后台加载申请类别参数
                $.ajax({
                    url: "/sysdict/getDictChildrenBycode",
                    data:{
                        code:"MaterialApplyType"
                    },
                    method: 'POST',
                    success: function (result) {
                        if (result.code === 0) {
                            applytypes = result.data;
                        }else{
                            options.error(result);
                        }
                    }
                });
            },
            applyTypeSer:function(){
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '添加申请类别信息',
                    type: 2,
                    area: ['600px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/purchase/apply_type.html',
                    shadeClose: true,
                    end: function () {
                        vm.getApplyType();
                    }
                });
            },
            add: function () {
                layer.close(vm.layItem);
                pushData = {
                    id: 0
                };
                this.layItem = layer.open({
                    title: '添加物资信息',
                    type: 2,
                    area: ['600px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/purchase/material_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });
                layer.full(this.layItem);
            },
            edit:function () {
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '编辑物资信息',
                    type: 2,
                    area: ['600px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/purchase/material_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });
                layer.full(this.layItem);
            },
            search:function () {
                $("#grid").data("kendoGrid").dataSource.read();
            },
            copyMaterial:function(){
                layer.close(vm.layItem);
                //检查是否有选中的物资信息，无选中则无法复制
                var grid = $("#grid").data('kendoGrid');
                var row = grid.select();
                var dataItem = grid.dataItem(row);
                if(dataItem == null){
                    layer.alert("请选择需要复制的物资信息");
                    return;
                }else{
                    pushData = {
                        id: -1,
                        applytype: dataItem.applytype,
                        companyname: dataItem.companyname,
                        mattype: dataItem.mattype,
                        batch: dataItem.batch,
                        materialname: dataItem.materialname,
                        materialdes: dataItem.materialdes,
                        amount: dataItem.amount,
                        unit: dataItem.unit,
                        empnum:dataItem.empnum,
                        applydept: dataItem.applydept,
                        applyperson: dataItem.applyperson,
                        dispatchdate: dataItem.dispatchdate,
                        requireddate: dataItem.requireddate,
                        overseasdate: dataItem.overseasdate
                    };
                    this.layItem = layer.open({
                        title: '添加物资信息',
                        type: 2,
                        area: ['600px', '500px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: '/purchase/material_update.html',
                        shadeClose: true,
                        end: function () {
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    });
                    layer.full(this.layItem);
                }
            },
            //使用Excel批量导入物资信息
            importExcel: function(){
                this.layItem = layer.open({
                    title: '导入Excel文件',
                    type: 2,
                    area: ['600px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/purchase/material_import.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                });
            },
            //导出Excel
            exportExcel: function() {
                //取kendoGrid的当前过滤条件
                var allMap;
                var grid = $("#grid").data("kendoGrid");
                if(grid){
                    allMap = getFilters(grid);
                }
                var sort = grid.dataSource.sort();
                //整理完整的当前查询条件
                pushData = {
                    'filters': allMap === undefined ? "" : JSON.stringify(allMap),
                    'sort': sort === undefined || sort[0] === undefined ?
                        "" : sort[0].field,
                    'dir': sort === undefined || sort[0] === undefined ?
                        "" : sort[0].dir,
                    'value': $('#search-input').val(),
                    'state':$("#stateselect").val()
                };
                //使用form提交导出,使用原生方式，jquery引号不够用。。
                var form = document.createElement("form");
                form.style.display = 'none';
                form.action = "/purchase/planner/exportMaterialInfo";
                form.method = "post";
                document.body.appendChild(form);
                $.each(pushData, function(k, v) {
                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = k;
                    input.value = v;
                    form.appendChild(input);
                });
                form.submit();
                form.remove();
            }
        }
    })
</script>
</body>
</html>