<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加或更新物资信息</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<body style="width: 80%; margin: 10px auto">
<form>
    <div class="form-group">
        <label for="applytype">申请类别</label>
        <select name="applytype" id="applytype" class="form-control input-sm-8" placeholder="选择申请类别">
            <option value="" selected></option>
        </select>
    </div>
    <div class="form-group">
        <label for="companyname">公司名称</label>
        <input class="form-control input-sm-8" id="companyname" placeholder="输入公司名称">
    </div>
    <div class="form-group">
        <label for="mattype">物资类别</label>
        <input class="form-control input-sm-8" id="mattype" placeholder="输入物资类别">
    </div>
    <div class="form-group">
        <label for="batch">追溯号(批次)</label>
        <input class="form-control input-sm-8" id="batch" placeholder="输入追溯号">
    </div>
    <div class="form-group">
        <label for="materialname">物资名称</label>
        <input class="form-control input-sm-8" id="materialname" placeholder="输入物资名称">
    </div>
    <div class="form-group">
        <label for="amount">数量</label>
        <input class="form-control input-sm-8" id="amount" type="number" step="0.001" placeholder="输入数量">
    </div>
    <div class="form-group">
        <label for="unit">单位</label>
        <input class="form-control input-sm-8" id="unit" placeholder="输入单位">
    </div>
    <div class="form-group">
        <label for="empnum">业务员</label>
        <select name="empnum" id="empnum" class="form-control input-sm-8" placeholder="选择业务员">
            <option value="" selected></option>
        </select>
    </div>
    <div class="form-group">
        <label for="applydept">申请部门</label>
        <input class="form-control input-sm-8" id="applydept" placeholder="输入申请部门">
    </div>
    <div class="form-group">
        <label for="applyperson">申请联系人</label>
        <input class="form-control input-sm-8" id="applyperson" placeholder="输入申请联系人">
    </div>
    <div class="form-group">
        <label for="dispatchdate">物资分派日期</label>
        <input class="form-control input-sm-8" id="dispatchdate" placeholder="选择物资分派日期">
    </div>
    <div class="form-group">
        <label for="requireddate">要求到货日期</label>
        <input class="form-control input-sm-8" id="requireddate" placeholder="选择要求到货日期">
    </div>
    <div class="form-group">
        <label for="overseasdate">海外到货日期</label>
        <input class="form-control input-sm-8" id="overseasdate" placeholder="选择海外到货日期">
    </div>
    <div class="form-group">
        <label for="materialdes">备注</label>
        <textarea class="form-control input-sm-8" id="materialdes" placeholder="输入描述信息"></textarea>
    </div>
    <a id="submit" href="javascript:" class="btn btn-success btn-sm-12 center-block" style="margin-top: 36px">提&nbsp;&nbsp;&nbsp;交</a>
</form>
</body>
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/layui/layui.js"></script>
<script>
    var postData = {};
    var index = parent.layer.getFrameIndex(window.name);
    $(function () {
        //初始化日期控件
        layui.use('laydate', function(){
            var dispatchdate = layui.laydate;
            //执行一个laydate实例
            dispatchdate.render({
                elem: '#dispatchdate' //指定元素
            });
            var requireddate = layui.laydate;
            //执行一个laydate实例
            requireddate.render({
                elem: '#requireddate' //指定元素
            });
            var overseasdate = layui.laydate;
            //执行一个laydate实例
            overseasdate.render({
                elem: '#overseasdate' //指定元素
            });
        });
        //初始化申请类别select
        $.each(parent.applytypes, function (i, item) {
            $("#applytype").append("<option value="+ item.name +">"+ item.name +"</option>");
        });
        //初始化业务员select
        $.each(parent.employee, function (i, item) {
            $("#empnum").append("<option value="+ item.salesmannum +">"+ item.salesmanname +"</option>");
        });
        if (parent.pushData.id === 0) {
        } else {
            //加载数据
            if(parent.pushData.id !== -1){
                postData.id = parent.pushData.id;
            }
            $('#applytype').val(parent.pushData.applytype);
            $('#companyname').val(parent.pushData.companyname);
            $('#mattype').val(parent.pushData.mattype);
            $('#batch').val(parent.pushData.batch);
            $('#materialname').val(parent.pushData.materialname);
            $('#amount').val(parent.pushData.amount);
            $('#unit').val(parent.pushData.unit);
            $('#empnum').val(parent.pushData.empnum);
            $('#applydept').val(parent.pushData.applydept);
            $('#applyperson').val(parent.pushData.applyperson);
            $('#dispatchdate').val(parent.pushData.dispatchdate);
            $('#requireddate').val(parent.pushData.requireddate);
            $('#overseasdate').val(parent.pushData.overseasdate);
            $('#materialdes').val(parent.pushData.materialdes);
        }
        //提交
        $('#submit').on('click', function () {
            postData.applytype = $('#applytype').val();
            postData.companyname = $('#companyname').val();
            postData.mattype = $('#mattype').val();
            postData.batch = $('#batch').val();
            postData.materialname = $('#materialname').val();
            postData.materialdes = $('#materialdes').val();
            postData.amount = $('#amount').val();
            postData.unit = $('#unit').val();
            postData.empnum = $('#empnum').val();
            postData.empname = $('#empnum').find("option:selected").text();
            postData.applydept = $('#applydept').val();
            postData.applyperson = $('#applyperson').val();
            postData.dispatchdate = $('#dispatchdate').val();
            postData.requireddate = $('#requireddate').val();
            postData.overseasdate = $('#overseasdate').val();
            var msg = "";
            if (parent.pushData.id === 0 || parent.pushData.id === -1) {
                msg = "添加";
            } else {
                msg = "修改";
            }
            $.ajax({
                url: "/purchase/planner/updateMaterialInfo",
                dataType: 'json',
                data: postData,
                method: 'POST',
                async: false,
                success: function (result) {
                    if (result.code === 0) {
                        parent.layer.msg(msg + '成功');
                        parent.layer.close(index);
                    }else{
                        parent.layer.msg(msg + "失败，请重新尝试")
                    }
                },
                error: function(){
                    parent.layer.msg("提交失败，请重新尝试")
                }
            });
        })
    });
</script>
</html>