<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>衢州公众后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/qzgz/admin/dashboard.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <!--班车信息页面 START-->
        <div id="app">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="active">
                        <th style="width: 180px!important;">班车车牌</th>
                        <th>路线</th>
                        <th style="width: 200px!important;">操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr v-for="bus in data1">
                        <td>{{ bus.number }}</td>
                        <td>{{ bus.line }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm btn-edit" @click="onedit(bus.id,bus.number,bus.line)">
                                修改
                            </button>
                            <button class="btn btn-danger btn-sm" @click="ondelete(bus.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <button class="btn btn-success btn-add" @click="onadd">添加班车</button>
            </div>
            <!--班车信息页面 END-->
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/qzgz/admin/bc.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>
<script type="text/javascript" src="/plugins/layui/layui.all.js"></script>

</body>
</html>