<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="/css/qzgz/admin/cl_add.css" rel="stylesheet">
</head>
<body>
    <!--<form enctype="multipart/form-data" method="post" action="/setBusinessTravel">-->
    <input id="input-b1" name="file" type="file" class="file">
    <!--</form>-->
    <input type="hidden" id="img" value="">
    <label for="title">标题</label>
    <input type="text" class="form-control" id="title">
    <a class="btn btn-primary" id="submit">提&nbsp;&nbsp;&nbsp;交</a>

    <script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/qzgz/admin/cl_add.js"></script>
    <script type="text/javascript" src="/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-fileinput/js/zh.js"></script>
</body>

</html>