<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>衢州公众后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/qzgz/admin/dashboard.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">衢州公众后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">关于</a></li>
                <li><a href="#">设置</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li data-id=".main" class="active"><a href="#">控制台<span class="sr-only">(current)</span></a></li>
                <li data-id=".canteen"><a href="javascript:;">食堂菜单</a></li>
                <li data-id=".bus"><a href="javascript:;">班车信息</a></li>
                <li data-id=".travel"><a href="javascript:;">差旅标准</a></li>
                <li data-id=".opinion"><a href="javascript:;">员工意见</a></li>
                <li data-id=".suggestion"><a href="javascript:;">合理建议</a></li>
                <li data-id=".notice"><a href="javascript:;">通知公告</a></li>
            </ul>
        </div>
        <!--主页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main subpage">
            <h1 class="page-header">控制台</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--主页面 END-->

        <!--食堂菜单页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 canteen subpage">
            <h1 class="page-header">食堂菜单</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>菜名</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover" id="app">
                    <tr v-for="canteen in data">
                        <th>{{ canteen.id }}</th>
                        <td>{{ canteen.name }}</td>
                        <td>{{ canteen.price }}</td>
                        <td>
                            <button class="btn btn-success btn-sm">加入今日菜单</button>
                            <button class="btn btn-warning btn-sm">修改</button>
                            <button @click="onclick(canteen.id)" v-if="canteen.state === 0" class="btn btn-success btn-sm">上架</button>
                            <button @click="onclick(canteen.id)" v-else class="btn btn-danger btn-sm">下架</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-success">只显示已上架的菜单</button>
            <button class="btn btn-success">添加新菜</button>
            <div>
                <img class="-btn-menu" src="/img/qzgz/menu.png">
                <div class="-btn-menu-number">0</div>
            </div>
        </div>
        <!--食堂菜单页面 END-->

        <!--班车信息页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 bus subpage">
            <h1 class="page-header">班车信息</h1>
        </div>
        <!--班车信息页面 END-->

        <!--差旅标准页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 travel subpage">
            <h1 class="page-header">差旅标准</h1>
        </div>
        <!--差旅标准页面 END-->

        <!--员工意见页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 opinion subpage">
            <h1 class="page-header">员工意见</h1>
        </div>
        <!--员工意见页面 END-->

        <!--合理建议页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 suggestion subpage">
            <h1 class="page-header">合理建议</h1>
        </div>
        <!--合理建议页面 END-->

        <!--通知公告页面 START-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 notice subpage">
            <h1 class="page-header">通知公告</h1>
        </div>
        <!--通知公告页面 END-->
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/qzgz/admin/dashboard.js"></script>
<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>

</body></html>