<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>衢州公众后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/qzgz/admin/dashboard.css" rel="stylesheet">
    <link href="/css/qzgz/admin/st.css" rel="stylesheet">
    <link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <!--食堂菜单页面 START-->
        <div id="app">

            <!--<h1 class="page-header">食堂菜单</h1>-->
            <input id="search-input" type="text" class="form-control" placeholder="输入菜名关键词..." v-model="data2.search">
            <button id="search-btn" class="btn btn-info" @click="onsearch(data2.search)">搜索</button>
            <!--<label><input type="radio" class="day"  name="day"  @click="onclick(0)" checked="checked"/>&nbsp;今日菜单</label>-->
            <!--<label><input type="radio" class="day"  name="day"  @click="onclick(1)"/>&nbsp;明日菜单</label>-->
            <input type="checkbox" name="checkbox" id="checkbox" @click="onclick" checked>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="active">
                        <th>菜名</th>
                        <th>类型</th>
                        <th>加入菜单</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover" >
                    <tr v-for="canteen in data1.canteens">
                        <td><input class="form-control" type="text" v-model="canteen.name"></td>
                        <td>
                            <select class="form-control" v-model="canteen.type">
                                <option value="素菜">素菜</option>
                                <option value="荤菜">荤菜</option>
                                <option value="汤">汤</option>
                                <option value="其他">其他</option>
                            </select>
                        </td>
                        <td>
                            <button @click="oninserttoday(canteen.id,1)" v-if="show(canteen.id,1)" class="btn btn-default btn-sm">早餐</button>
                            <button @click="ondeletetoday(canteen.id,1)" v-else class="btn btn-success btn-sm">早餐</button>
                            <button @click="oninserttoday(canteen.id,2)" v-if="show(canteen.id,2)" class="btn btn-default btn-sm">午餐</button>
                            <button @click="ondeletetoday(canteen.id,2)" v-else class="btn btn-success btn-sm">午餐</button>
                            <button @click="oninserttoday(canteen.id,3)" v-if="show(canteen.id,3)" class="btn btn-default btn-sm">晚餐</button>
                            <button @click="ondeletetoday(canteen.id,3)" v-else class="btn btn-success btn-sm">晚餐</button>
                            <button @click="oninserttoday(canteen.id,4)" v-if="show(canteen.id,4)" class="btn btn-default btn-sm">夜宵</button>
                            <button @click="ondeletetoday(canteen.id,4)" v-else class="btn btn-success btn-sm">夜宵</button>
                        </td>
                        <td>
                            <button @click="oneditstate(1,canteen.id)" v-if="canteen.state === '0'" class="btn btn-danger btn-sm">已下架</button>
                            <button @click="oneditstate(0,canteen.id)" v-else class="btn btn-success btn-sm">已上架</button>
                            <button class="btn btn-warning btn-sm" @click="oneditinfo(canteen.name,canteen.type,canteen.id)">修改</button>
                        </td>
                    </tr>
                    <tr class="tr-add" id="tr-add">
                        <th><input class="form-control" type="text" v-model="data2.name"></th>
                        <th>
                            <select class="form-control" v-model="data2.type">
                                <option value="素菜">素菜</option>
                                <option value="荤菜">荤菜</option>
                                <option value="汤">汤</option>
                                <option value="其他">其他</option>
                            </select>
                        </th>
                        <td>添加新菜</td>
                        <td>
                            <button class="btn btn-success btn-sm btn-addCommit" @click="onaddsubmit()">添加</button>
                            <button class="btn btn-warning btn-sm btn-addCancel">取消</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <button class="btn btn-warning btn-showState1" @click="onshowpart()">只显示已上架的菜单</button>
            <button class="btn btn-success btn-showStateAll" @click="onshowall()">显示全部菜单</button>
            <button class="btn btn-success btn-addNew">添加新菜</button>
            <button class="btn btn-info btn-showTodays">查看已添加菜单</button>
        </div>
        <!--食堂菜单页面 END-->
    </div>
</div>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/qzgz/admin/st.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>


</body></html>