<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>衢州公众后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/statics/css/qzgz/admin/dashboard.css" rel="stylesheet">
    <link href="/statics/css/qzgz/admin/st_today.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <!--食堂菜单页面 START-->
        <div id="app">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="active">
                        <th>餐别</th>
                        <th>菜名</th>
                        <th>类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover" >
                    <tr v-for="canteen in data1">
                        <td class="success" v-if="canteen.meal === 1">早餐</td>
                        <td class="info" v-else-if="canteen.meal === 2">中餐</td>
                        <td class="warning" v-else-if="canteen.meal === 3">晚餐</td>
                        <td class="danger" v-else>夜宵</td>
                        <td>{{canteen.name}}</td>
                        <td>{{canteen.type}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @click="ondeletetoday(canteen.id,canteen.meal)">移除</button>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <!--食堂菜单页面 END-->
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/statics/js/qzgz/admin/st_today.js"></script>
<script type="text/javascript" src="/statics/plugins/layer/layer.js"></script>

</body></html>