<!DOCTYPE html>

<html lang="zh">
<head>
    <title>学习园地</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link rel="stylesheet" href="/statics/plugins/layer/theme/default/layer.css">

</head>

<body>
<div id="content">
    <div id="grid"></div>
</div>
<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/js/common/jquery.expand.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script src="/statics/plugins/kendo/js/kendo.grid.filter.js"></script>
<script src="/statics/js/qzgz/admin/tz.js"></script>
</body>

</html>