<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新通知</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80% ;margin: 10px auto">
<form>
    <div class="form-group">
        <label for="title">标题</label>
        <input class="form-control" id="title" placeholder="标题">
    </div>
    <div class="form-group">
        <label for="operator">操作者</label>
        <input class="form-control" id="operator" placeholder="操作者">
    </div>
    <div class="form-group">
        <label for="nodifiedPerson">被通知人</label>
        <input class="form-control" id="nodifiedPerson" placeholder="被通知人">
    </div>
    <div class="form-group">
        <label for="content">内容</label>
        <textarea class="form-control" id="content"  style="resize:none" placeholder="内容"></textarea>
    </div>
    <button id="submit" type="submit" class="btn btn-default" style="width:100%">提&nbsp;&nbsp;&nbsp;交</button>
</form>
</body>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/qzgz/admin/tz_update.js"></script>
</html>