<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>添加banner图</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <!--下面css需要用到-->
    <link href="/statics/css/qzgz/admin/cl_add.css" rel="stylesheet">
</head>
<body>
<p style="font-size: 20px;margin-top: 8px;color: red;text-align: center">请上传750*400的图片！</p>
<input id="input-b1" name="file" type="file" class="file">
<input type="hidden" id="url" value="">
<label for="title">标题</label>
<input type="text" class="form-control" id="title">
<a class="btn btn-primary" id="submit">提&nbsp;&nbsp;&nbsp;交</a>

<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/plugins/layer/layer.js"></script>
<script>
    $(function () {
        var index = parent.layer.getFrameIndex(window.name);
        var path;
        $("#input-b1").fileinput({
            language: 'zh',
            uploadUrl: '/qzgz/admin/saveBanner',
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            maxFileCount: 1,
            allowedFileTypes: ['image'],
            //设置上传图片大小
            previewSettings: {
                image: {width: "750px", height: "400px"}
            },
            //文件名替换
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        }).on("fileuploaded", function (event, data) {
            if (data.response.data === null){
                parent.layer.msg('图片已存在，请重新上传！');
                //清除当前的预览图，并隐藏【移除】按钮
                $(event.target).fileinput('clear').fileinput('unlock')
            }else {
                $('#url').attr('value', data.response.data.url);
                path = data.response.data.path;
            }
        });
        $('#submit').on('click', function () {
            //title必须使用push过来的title 否则会提交篡改后html元素
            if ($('#url').val() == '') {
                parent.layer.msg('图片未上传!');
                return;
            }
            if ($('#title').val() == '') {
                parent.layer.msg('标题不能为空!');
                return;
            }
            if (FetchData({
                title: $('#title').val(),
                url: $('#url').val(),
                path: path
            }, 'POST', '/qzgz/admin/addNewsBanner', false).code === 0) {
                parent.location.reload();
            }
            else {
                parent.layer.msg('提交失败,请重试！');
                parent.layer.close(index);
            }
        })
    });
    var FetchData = function (data, method, param, async) {
        var response =
            $.ajax({
                async: async,
                url: param,
                type: method,
                dataType: 'json',
                data: data,
                success: function (dataSource) {
                    return dataSource;
                }
            });
        return response.responseJSON;
    };
</script>
<script type="text/javascript" src="/statics/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="/statics/plugins/bootstrap-fileinput/js/zh.js"></script>
</body>
</html>