<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div id="grid"></div>

<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script>
    var pushData;
    var code = 'qzgz_news_figure';
    var type = FetchData({code: code}, 'POST', '/qzgz/admin/getNewsType', false).data;
    var vm = new Vue({
        el: "",
        data: {
            dataSource: [],
            activeItem: {id: 0, title: "", content: ""},
            layItem: null
        },
        created: function () {
            this.getDataSource();
            $("#grid").kendoGrid({
                selectable: "row",
                dataSource: this.dataSource,
                editable: {
                    confirmation: true,
                    mode: "popup",
                    window: {
                        title: "新增"
                    }
                },
                columnMenu: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: [{
                    template: '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.add()"><span class="k-icon k-i-add"></span>添加</a>' +
                    '<input type="text" class="k-input" id="search-input"/>' +
                    '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.search()"><span class="k-icon k-i-search"></span>搜索</a>' +
                    '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.editType()"><span class="k-icon k-i-settings"></span>新闻类型维护</a>' +
                    '<a role="button" class="k-button k-button-icontext" href="javascript:;" onclick="vm.editBanner()"><span class="k-icon k-i-settings"></span>banner图维护</a>'
                }],
                columns: [
                    {field: "date", title: "日期", headerAttributes: {"class": "grid-algin-center"}, width: '100px'},
                    {field: "title", title: "标题", headerAttributes: {"class": "grid-algin-center"}, width: '250px'},
                    {field: "description", title: "描述", headerAttributes: {"class": "grid-algin-center"}, width: '140px'},
                    {field: "url", title: "文字路径", headerAttributes: {"class": "grid-algin-center"}, width: '260px'},
                    {field: "type", title: "新闻类型", headerAttributes: {"class": "grid-algin-center"}, width: '120px'},
                    {
                        command: [{
                            name: "showitem", text: "编辑", iconClass: "k-icon k-i-edit",
                            click: function (e) {
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                pushData = {
                                    id: data.id,
                                    date: data.date,
                                    title: data.title,
                                    description:data.description,
                                    url: data.url,
                                    type: data.type
                                };
                                vm.edit();
                            }
                        }, {name: "destroy", text: "删除", iconClass: "k-icon k-i-delete"}],
                        title: "操作", width: "165px"
                    },{field: "", title: ""}
                ]
            });
        },
        methods: {
            getDataSource: function () {
                this.dataSource = new kendo.data.DataSource({
                    transport: {
                        read: function (options) {
                            $.ajax({
                                url: "/qzgz/admin/getNews",
                                data: {
                                    'sort': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].field,
                                    'dir': options.data.sort === undefined || options.data.sort[0] === undefined ?
                                        undefined : options.data.sort[0].dir,
                                    'page': options.data.page,
                                    'pageSize': options.data.pageSize,
                                    'value': $('#search-input').val(),
                                    'code': code
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        for (var i = 0; i < result.data.data.length; i++){
                                            for (var j = 0; j < type.length; j++){
                                                if(result.data.data[i].type === type[j].id){
                                                    result.data.data[i].type = type[j].name;
                                                }
                                            }
                                        }
                                        options.success({data: result.data.data, total: result.data.total});
                                    }
                                    else
                                        options.error(result);
                                }
                            });
                        },
                        destroy: function (options) {
                            $.ajax({
                                url: "/qzgz/admin/delNews",
                                data: {
                                    'id': options.data.id
                                },
                                method: 'POST',
                                success: function (result) {
                                    if (result.code === 0) {
                                        options.success(result);
                                        layer.msg('删除成功！', {time: 1000, icon: 1});
                                    }
                                    else
                                        options.error(result);
                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        }
                    },
                    schema: {
                        data: "data",
                        total: "total",
                        model: {
                            id: "id",
                            fields: {
                                id: {editable: false, nullable: true},
                                date: {type: "string", nullable: false},
                                title: {type: "string", nullable: false},
                                description: {type: "string", nullable: false},
                                url: {type: "string", nullable: false},
                                type: {type: "string", nullable: false}
                            }
                        }
                    },
                    error: function (e) {
                        this.cancelChanges();
                        console.log(e);
                        if (e.errors) {
                            layer.alert(e.errors.msg, {icon: 2});
                        }
                        else if (e.xhr.msg) {
                            layer.alert(e.xhr.msg, {icon: 2});
                        }
                        else {
                            layer.alert("发生错误，请联系管理员", {icon: 2});
                        }
                    },
                    requestEnd: function (e) {
                        var response = e.response;
                        if (response) {
                            response.type = e.type;
                        }
                    },
                    pageSize: 15,
                    serverPaging: true,
                    // serverFiltering: true,
                    serverSorting: true
                });
            },
            add: function () {
                layer.close(vm.layItem);
                pushData = {
                    id: 0
                };
                this.layItem = layer.open({
                    title: '添加人物新闻信息',
                    type: 2,
                    area: ['500px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/qzgz/admin/xw_rw_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            },
            edit:function () {
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '编辑人物新闻信息',
                    type: 2,
                    area: ['500px', '500px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/qzgz/admin/xw_rw_update.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            },
            search:function () {
                $("#grid").data("kendoGrid").dataSource.read()
            },
            editType: function () {
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '人物新闻类型',
                    type: 2,
                    area: ['60%', '60%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/qzgz/admin/xw_rwType.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            },
            editBanner: function () {
                layer.close(vm.layItem);
                this.layItem = layer.open({
                    title: '人物banner图',
                    type: 2,
                    area: ['100%', '100%'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/qzgz/admin/xw_rwBanner.html',
                    shadeClose: true,
                    end: function () {
                        $("#grid").data("kendoGrid").dataSource.read()
                    }
                });
            }
        }
    });
    function FetchData(data, method, param, async) {
        var response = $.ajax({
            async: async,
            url: param,
            type: method,
            dataType: 'json',
            data: data,
            success: function (dataSource) {
                return dataSource
            }
        });
        return response.responseJSON;
    }
</script>
</body>
</html>