<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>人物新闻Banner图</title>
    <link href="/statics/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/statics/plugins/layui/css/layui.css">
    <!--下面css需要用到-->
    <link href="/statics/css/qzgz/admin/cl.css" rel="stylesheet">
    <link href="/statics/css/qzgz/admin/dashboard.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="app">
            <div class="table-responsive">
                <a type="button" class="btn btn-success btn-sm" @click="onAdd()">添加</a>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="active">
                        <th class="t1">标题</th>
                        <th class="t2">Banner图</th>
                        <th class="t3">操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr v-for="nb in data1">
                        <td>{{ nb.title }}</td>
                        <td><a @click="onbrowse(nb.url)"><img :src=nb.url></a></td>
                        <td>
                            <button class="btn btn-success btn-sm" @click="onDel(nb.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/statics/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/statics/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/statics/plugins/layer/layer.js"></script>
<script>
    var pushCode = parent.code;
    $(function () {
        function dataSource() {
            return FetchData({type: pushCode}, 'POST', '/qzgz/admin/getNewsBanner', false).data;
        }
        var vm = new Vue({
            el: '#app',
            data: {
                data1: dataSource()
            },
            methods: {
                onAdd: function () {
                    layer.open({
                        title:'添加人物新闻Banner图',
                        type: 2,
                        area: ['700px', '610px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: '/qzgz/admin/xw_rwBanner_add.html'
                    });
                },
                onbrowse:function (img) {
                    layer.open({
                        title:'浏览',
                        type: 2,
                        area: ['750px', '400px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: img
                    });
                },
                onDel: function (id) {
                    layer.confirm('确认删除吗？删除后将不可恢复。', {btn: ['删除', '取消']},
                        function () {
                            if(FetchData({id: id}, 'POST', '/qzgz/admin/delNewsBanner', false).code === 0){
                                layer.msg('删除成功！',{
                                    time: 500,
                                    end: function () {
                                        vm.data1 = dataSource();
                                    }
                                });
                            }else {
                                layer.msg('删除失败！');
                            }
                        }, function () {});
                }
            }
        })
    });
    var FetchData = function (data, method, param, async) {
        var response =
            $.ajax({
                async: async,
                url: param,
                type: method,
                dataType: 'json',
                data: data,
                success: function (dataSource) {
                    return dataSource;
                }
            });
        return response.responseJSON;
    };
</script>
</body>

</html>