<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>衢州公众后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/qzgz/admin/dashboard.css" rel="stylesheet">
    <link href="/css/qzgz/admin/zp.css" rel="stylesheet">

</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div id="app">
            <button class="btn btn-success btn-read btn-add" @click="onadd">添加岗位</button>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="th1">岗位名称</th>
                        <th class="th2">学历要求</th>
                        <th class="th3">工作地点</th>
                        <th class="th4">职位描述</th>
                        <th class="th5">年龄要求</th>
                        <th class="th6">薪资</th>
                        <th class="th7">操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover" >
                    <tr v-for="recruit in data1.recruits">
                        <th>{{ recruit.name }}</th>
                        <td>{{ recruit.educate }}</td>
                        <td>{{ recruit.work_place }}</td>
                        <td>{{ recruit.description }}</td>
                        <td>{{ recruit.age }}</td>
                        <td>{{ recruit.salary }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm btn-read btn-edit" @click="onedit(recruit.name,recruit.educate,recruit.work_place,recruit.description,recruit.age,recruit.salary,recruit.id)">修改</button>
                            <button class="btn btn-danger btn-sm btn-read btn-remove" @click="ondelete(recruit.id)">移除</button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
        <div id="page-bar">
            <ul>
                <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                <li v-if="cur==1"><a class="banclick">上一页</a></li>
                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                    <a v-on:click="btnClick(index)">{{ index }}</a>
                </li>
                <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                <li v-if="cur == all"><a class="banclick">下一页</a></li>
                <li><a>共<i>{{all}}</i>页</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/qzgz/admin/zp.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>
<script type="text/javascript" src="/plugins/layui/layui.all.js"></script>

</body></html>