<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>学习详情</title>
    <link rel="stylesheet" href="./css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="./css/tongzhi.css">
    <script type="text/javascript" src="./script/rem.js"></script>
    <script src="./script/jweixin-1.2.0.js"></script>
    <script src="./script/mainjs.js"></script>
    <script src="./script/jquery.js"></script>
</head>
<body>
    <div id="title"><h1>学习标题</h1></div>
    <div id="info2">
        <span>通知人</span>
        <span>2018-03-23</span>
    </div>
	<article class="weui-article">          <!-- 内容部分 -->        
        <section id="section1">
            <p>
                衢州华友钴新材料有限公司是浙江华友钴业股份有限公司的子公司。
                华友钴业成立于2002年，是一家专注于钴、铜有色金属冶炼及钴新材料产品深加工的高新技术企业。
            </p>
        </section>
    </article>
     <div id="info1">
        <span>培训人员</span></br>
        <div id="member">
            <p>人员人员人员人员人员人员人员人员人员人员人员人员人员人员</p>
            <p>人员</p>
            <p>人员</p>
            <p>人员</p>
        </div>
        <span>培训日期：2018-03-23</span>
    </div>
    <!-- 底部说明 -->
    <div id="footer">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
        </div>
    </div>
</body>
</html>
