<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>岗位详情</title>
	<link rel="stylesheet" href="./css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/tongzhi.css">
	<script type="text/javascript" src="./script/rem.js"></script>
	<script src="./script/jweixin-1.2.0.js"></script>
	<script src="./script/mainjs.js"></script>
	<script src="./script/jquery.js"></script>
</head>
<body>
	<div class="weui-panel weui-panel_access">
	    <div class="weui-panel__bd">
	        <div class="weui-media-box weui-media-box_text">
	            <h4 class="weui-media-box__title">岗位名称<span class="xinchou">5千-6千/月</span></h4>
	            <p class="weui-media-box__desc">本科&nbsp1年</p>
	        </div>
	        <div class="weui-media-box weui-media-box_text">
	            <h4 class="weui-media-box__title">工作地址</h4>
	            <p class="weui-media-box__desc">工作地址描述</p>
	        </div>
	        <div class="weui-media-box weui-media-box_text">
	            <h4 class="weui-media-box__title">职位描述</h4>
	            <p class="weui-media-box__desc">职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述职位描述</p>
	        </div>
	    </div>
	</div>
	<!-- 底部说明 -->
	<div id="footer">
	    <div class="weui-footer">
	        <p class="weui-footer__links">
	            <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
	            <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
	        </p>
	        <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
	    </div>
	</div>
</body>
</html>