<!DOCTYPE html>

<html lang="zh">
<head>
    <title>角色管理</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/plugins/layer/theme/default/layer.css">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<style>
    body{
        width: 100%;
    }
    #left{
        display: inline-block;
        width: 50%;
        background: white;
    }
    #menus{
        width: 80%;
        margin: 0 auto;
    }
    td{
        text-align: center;
    }
    iframe{
        border: 0;
        margin-left: 3rem;
    }
</style>
<div id="menus">
    <div id="left" class="col-sm-3 col-md-2 sidebar">
        <table class="table-left table table-bordered table-hover">
            <tr>
                <td>
                    <input v-model="data0" class="form-control" style="display: inline-block!important;" id="search" placeholder="输入搜索信息...">
                    <!--<button @click="onSearch" class="btn btn-info btn-sm" id="btn-search">搜索</button>-->
                </td>
                <td>
                    <button class="btn btn-success btn-sm" @click="onAdd">新增</button>
                </td>
            </tr>
            <tr v-for="role in data1" v-if="role.enable === true">
                <td style="display: none">{{role.id}}</td>
                <td><a @click="onChoose(role.id)">{{role.name}}</a></td>
                <td>
                    <button class="btn btn-warning btn-sm" @click="onEdit(role.id,role.name)">修改</button>
                    <button class="btn btn-danger btn-sm" @click="onDel(role.id)">删除</button>
                </td>
            </tr>
            <tr style="display: none;" v-else>
            </tr>
        </table>
    </div>
    <iframe id="treeview" width="40%" height="500px">
</iframe>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/js/system/role/roles.js"></script>
</body>

</html>