<!DOCTYPE html>

<html lang="zh">
<head>
    <title>角色管理</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/plugins/layer/theme/default/layer.css">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<style>
    body{
        width: 100%;
    }
    #left{
        display: inline-block;
        width: 39.5%;
        background: white;
    }
    #right{
        display: inline-block;
        width: 59.5%;
        background: white;
    }
    #menus{
        width: 80%;
        margin: 0 auto;
    }
    td{
        text-align: center;
    }
</style>
<div id="menus">
    <div id="left">
        <table class="table-left table table-bordered table-hover">
            <tr>
                <td>
                    <input class="form-control" style="width: 75%!important;display: inline-block!important;" placeholder="搜索">
                    <button class="btn btn-info btn-sm">搜索</button>
                </td>
                <td>
                    <button class="btn btn-success btn-sm">新增</button>
                </td>
            </tr>
            <tr v-for="role in data1" v-if="role.enable === true">
                <td style="display: none">{{role.id}}</td>
                <td><a>{{role.name}}</a></td>
                <td>
                    <button class="btn btn-warning btn-sm">修改</button>
                    <button class="btn btn-danger btn-sm">删除</button>
                </td>
            </tr>
            <tr style="display: none;" v-else>
            </tr>
        </table>
    </div>
    <div id="right">

    </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/common/jquery.expand.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/js/system/role/roles.js"></script>
</body>

</html>