<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>添加客户</title>
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/statics/plugins/kendo/css/kendo.common.min.css">
    <link href="/statics/plugins/layui/css/layui.css" rel="stylesheet">
</head>

<body>
<div id="menus" class="pane ui-layout-center" style="overflow: scroll">
    <div id="grid"></div>
</div>

<script src="/statics/plugins/jquery/jquery.min.js"></script>
<script src="/statics/plugins/jszip/2.4.0/jszip.js"></script>
<script src="/statics/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/statics/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/statics/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/statics/plugins/vue/vue.min.js"></script>
<script src="/statics/plugins/layer/layer.js"></script>
<script src="/statics/plugins/kendo/js/kendo.grid.filter.js"></script>
<script src="/statics/js/mm/hyhz_lb_add.js"></script>
</body>
</html>