<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>更新会议信息</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="width: 80% ;margin: 10px auto">
<form>
    <div class="form-group">
        <label for="name">会议主题</label>
        <input class="form-control" id="name" placeholder="输入会议主题">
    </div>
    <div class="form-group">
        <label for="begin">开始时间</label>
        <input class="form-control" id="begin" placeholder="输入开始时间">
    </div>
    <div class="form-group">
        <label for="end">结束时间</label>
        <input class="form-control" id="end" placeholder="输入结束时间">
    </div>
    <div class="form-group">
        <label for="deadline">提交截止日期</label>
        <input class="form-control" id="deadline" placeholder="输入提交截止日期">
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <input class="form-control" id="remark" placeholder="输入备注信息">
    </div>
    <button id="submit"  class="btn btn-success" style="width:100%">提&nbsp;&nbsp;&nbsp;交</button>
</form>
</body>

<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/mm/hyxx_update.js"></script>
</html>