<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>会议信息</title>
    <link rel="stylesheet" href="/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/plugins/kendo/css/kendo.common.min.css">
    <link href="/plugins/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/jquery-ui-layout/layout-default.css">


</head>

<body>
<div id="menus" class="pane ui-layout-center">
    <div id="grid"></div>
</div>

<div class="pane ui-layout-south" style="overflow: visible;">
    <iframe  id="agendaiframe" name="agendaiframe"
             frameborder="0" style="height: 100%; width:100%; z-index: 1;">
    </iframe>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/plugins/jquery-ui-layout/jquery.layout.js"></script>
<script src="/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/js/mm/hyxx.js"></script>
</body>
</html>