<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>回执管理</title>
    <link rel="stylesheet" href="/plugins/kendo/css/kendo.default.min.css">
    <link rel="stylesheet" href="/plugins/kendo/css/kendo.common.min.css">
    <link href="/plugins/layui/css/layui.css" rel="stylesheet">
</head>

<body>
    <div id="menus">
        <div id="grid"></div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/jszip/2.4.0/jszip.js"></script>
    <script src="/plugins/kendo/js/kendo.all.min.js"></script>
    <script src="/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
    <script src="/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
    <script src="/plugins/vue/vue.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <script src="/js/mm/hzgl.js"></script>
</body>
</html>