<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>回执列表</title>
    <link rel="stylesheet" href="/plugins/kendo2018.2.620/styles/kendo.material.min.css">
    <link rel="stylesheet" href="/plugins/kendo2018.2.620/styles/kendo.common-material.min.css">
    <link href="/plugins/layui/css/layui.css" rel="stylesheet">
</head>

<body>
<div id="menus" class="pane ui-layout-center" style="overflow: scroll">
    <div id="grid"></div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jszip/2.4.0/jszip.js"></script>
<script src="/plugins/kendo/js/kendo.all.min.js"></script>
<script src="/plugins/kendo/js/kendo.culture.zh-CN.js"></script>
<script src="/plugins/kendo/js/kendo.messages.zh-CN.js"></script>
<script src="/plugins/vue/vue.min.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/js/mm/hzlb.js"></script>
</body>
</html>